// ========================================= //
// Components : utilities
// ========================================= //

// ad-strip-unit
// Remove the unit of a length
// @param {Number} $value - Number to remove unit
@function ad-strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// ad-convert-to-rem
@function ad-convert-to-rem($value, $base-value: $rem-base) {
  $value: ad-strip-unit($value) / ad-strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; }
  @return $value;
}

// ad-rem-calc
// Convert value to rem unit
// @param {Number} $value - Number to convert
// @param {Number} $base-value - Default base value
// @param {Number} $rem-value - Override base value
@function ad-rem-calc($values, $base-value: $rem-base) {
  $max: length($values);

  @if $max == 1 { @return ad-convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, ad-convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

// Clearfix
@mixin ad-clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}
