// ========================================= //
// Components : breakpoints
// ========================================= //

// Media of at least the minimum breakpoint width.
// Makes the @content apply to the given breakpoint and wider.
@mixin ad-bp-up($value) {
  @media (min-width: $value) {
    @content;
  }
}

@mixin ad-mq(
  $min: false,
  $max: false,
  $and: false
) {
  $min-width: 0;
  $max-width: 0;

  @if $min {
    @if type-of($min) == number {
      $min-width: $min;
      @media only screen and (min-width: $min-width) {
        @content;
      }
    } @else {
      @warn 'Minimum value #{$min} is not a valid breakpoint.';
    }
  }

  @if $max {
    @if type-of($max) == number {
      $max-width: $max;
      @media only screen and (max-width: $max-width) {
        @content;
      }
    } @else {
      @warn 'Maximum value #{$max} is not a valid breakpoint.';
    }
  }
}

.foo {
  @include ad-mq($max: 40em) {
    width: 50%;
  }

  @include ad-mq($min: 640px) {
    width: 80%;
  }

  @include ad-mq($min: 10px, $max: 320px) {
    background-color: red;
  }
}
