// ==========================================================================
// VARIABLES
// ==========================================================================

@import 'function.em';

// Base
// ==========================================================================

$_base-font-size: 16px !default;

// Layout
// ==========================================================================

// Breakpoints
$_layout-breakpoints: (
  small: _em(640px),
  medium: _em(1024px),
  large: _em(1440px)
) !default;

// Grid
$_layout-grid: (
  width: 1200px,
  columns: 12,
  gutters: 15px,
  breakpoints: $_layout-breakpoints
) !default;

