// ==========================================================================
// VARIABLES
// ==========================================================================

// Base
// ==========================================================================

$_base-font-size: 16px !default;

// Layout
// ==========================================================================

// Breakpoints
$_layout-breakpoints: (
  small: 40em,
  medium: 64em,
  large: 90em,
) !default;

// Grid
$_layout-grid: (
  width: 1200px,
  columns: 12,
  gutters: 15px,
  breakpoints: $_layout-breakpoints
) !default;

