// ==========================================================================
// VARIABLES
// ==========================================================================

// Base
// ==========================================================================

$_base-font-size: 16px !default;

// Layout
// ==========================================================================

// Breakpoints
$_layout-breakpoints: (
  small: (640px/16px)*1em,
  medium: (1024px/16px)*1em,
  large: (1440px/16px)*1em
) !default;

@debug map-get($_layout-breakpoints, small);

// Grid
$_layout-grid: (
  width: 1200px,
  columns: 12,
  gutters: 15px,
  breakpoints: $_layout-breakpoints
) !default;

