// ==========================================================================
// GRID
// ==========================================================================

@import "media-queries";

$_grid-width: 1200px !default;
$_grid-col-total: 12 !default;
$_grid-col-gutter: 15px !default;
$_grid-breakpoints: $_breakpoints !default;

// Reset
// ==========================================================================
*,
*:after,
*:before {
  box-sizing: border-box;
}

// Container
// ==========================================================================

@mixin grid-container() {
  max-width: $_grid-width;
  margin-left: auto;
  margin-right: auto;
}

// Columns
// ==========================================================================

// Set columns width and gutter, with or without float
@mixin grid-col(
  $width: $_grid-col-total,
  $gutter: $_grid-col-gutter,
  $float: false) {

  @if $float { float: $float; }
  @if $gutter {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  width: percentage($width / $_grid-col-total);
}

// Set columns offset
@mixin grid-col-offset(
  $width: 0,
  $side: left,
  $flow: false,
  $relative: true) {

  // Set the offset with margin
  @if $flow {
    margin-#{$side}: percentage($width / $_grid-col-total);
  }

  // Set the offset with left/right
  @else {
    @if $relative { position: relative; }
    #{$side}: percentage($width / $_grid-col-total);
  }

}

// Grid generator
// ==========================================================================

.row {
  @include grid-container();
}

.columns,
.column {
  position: relative;
  float: left;
  &:last-child { float:right }
}

@mixin grid-generator() {
  @for $i from 1 through $_grid-col-total {
    .#{$breakpoint-name}-#{$i} {
      @include grid-col($i, $gutter: false, $float: false);
    }
    .#{$breakpoint-name}-pull-#{$i} {
      @include grid-col-offset($i, $side: right, $relative:false)
    }
    .#{$breakpoint-name}-push-#{$i} {
      @include grid-col-offset($i, $side: left, $relative:false)
    }
    .#{$breakpoint-name}-offset-#{$i} {
      @include grid-col-offset($i, $side: left, $flow: true, $relative:false)
    }
  }
}

@each $breakpoint-name, $breakpoint-value in $_grid-breakpoints {

  @if $breakpoint-name == small {
    @include grid-generator();
  }

  @if $breakpoint-name == medium {
    @include bp(small) {
      @include grid-generator();
    }
  }

  @if $breakpoint-name == large {
    @include bp(large) {
      @include grid-generator();
    }
  }
}
